@import url('variables.css');
@import url('shared.css');
@import url('main.css');

.section--hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, var(--main-gradient-start), var(--main-gradient-end));
  padding: 160px var(--content) var(--content) var(--content);
}

.section--hero h1 {
  text-align: center;
}

.section--hero button {
  margin: var(--sp-s) var(--sp-none);
}

.section {
  padding: var(--content);
}

/* .section--hidden {
  opacity: 0.15;
  transform: translateY(8rem);
} */

.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  color: var(--secondary-light-color);
}

.section .tag {
  color: var(--main-vibrant-color);
  text-transform: uppercase;
  font-weight: var(--bold);
}

.section h2 {
  margin: var(--sp-s) 0;
}

.features__feature {
  margin: var(--sp-xxl) var(--sp-none);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: var(--sp-xxl) var(--sp-xl);
}

.section__header h2 {
  margin-bottom: var(--sp-s);
}

.features__img {
  width: 90%;
}

.section__operations {
  background: var(--main-light-color);
}

.operations__tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--sp-m);
  margin-top: var(--sp-xl);
}

.operations__tab {
  padding: var(--sp-s) var(--sp-m);
  border-radius: var(--bd-radius-m) var(--bd-radius-m) var(--bd-radius-none) var(--bd-radius-none);
  border: none;
  color: var(--secondary-color);
  font-size: var(--text-body);
  width: 100%;
  font-weight: var(--medium);
  background: var(--main-gradient-start);
  cursor: pointer;
}

.operations__tab:hover {
  background: var(--main-color);
}

.operations__tab--active {
  background: var(--main-vibrant-color);
  font-weight: var(--bold);
}

.operations__tab--active:hover {
  background: var(--main-vibrant-color);
}

.operations__content {
  display: none;
}

.operations__content img {
  width: 80px;
  height: 80px;
}

.operations__content--active {
  width: 100%;
  background-color: var(--white-color);
  padding: var(--content);
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-items: center;
  align-items: center;
  border-radius: var(--bd-radius-none) var(--bd-radius-none) var(--bd-radius-m) var(--bd-radius-m);
}

/* Testimonials */
.slider {
  background: var(--main-light-color);
  margin: var(--sp-m) var(--content) var(--sp-s) var(--content);
  padding: var(--content);
  border-radius: var(--bd-radius-l);
  position: relative;
}

.testimonial__photo {
  width: 130px;
  border-radius: var(--bd-radius-l);
  margin-right: var(--sp-m);
}

.testimonial {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}

.testimonial--title {
  margin-bottom: var(--sp-xs);
  font-size: var(--title);
}

.testimonial--text {
  line-height: 1.6rem;
  font-style: italic;
  margin-bottom: var(--sp-m);
}

.testimonial--author {
  font-size: var(--text-description);
  font-weight: var(--bold);
  color: var(--secondary-light-color);
  margin-top: var(--sp-m);
}

.icon--quote {
  width: 60px;
  position: absolute;
  right: var(--sp-m);
  top: var(--sp-m);
  opacity: 0.5;
}

.btn__slider {
  background-color: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
}

.btn__slider img {
  width: 40px;
}

.btn__slider--left {
  top: 40%;
  left: -6%;
}

.btn__slider--right {
  top: 40%;
  right: -6%;
}

.dots {
  display: flex;
  justify-content: center;
  gap: var(--sp-xs);
}

.dots__dot {
  width: 8px;
  height: 8px;
  background-color: var(--main-color);
  opacity: 0.6;
  border-radius: var(--bd-radius-full);
  border: none;
  cursor: pointer;
}

.dots__dot--active {
  background-color: var(--main-vibrant-color);
  opacity: 1;
  width: 24px;
}

.newsletter {
  margin: 100px;
  padding: var(--content);
  border-radius: var(--bd-radius-l);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(135deg, var(--main-gradient-start), var(--main-gradient-end));
}

.newsletter__img {
  width: 120px;
  position: absolute;
  top: -60px;
  left: 50px;
}

.newsletter h2 {
  margin: var(--sp-m) 0;
  color: var(--secondary-color);
  text-align: center;
}

.newsletter__container .form--input {
  border: 1px solid var(--secondary-color);
  margin-right: var(--sp-m);
}

.newsletter__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.newsletter .form--input {
  width: 60%;
}

/* Modal */
.form--input-signup {
  border: 1px solid var(--secondary-color);
  margin-top: var(--sp-xxs);
  margin-bottom: var(--sp-m);
}

.form--label-signup {
  margin-bottom: var(--sp-s);
}

@media (max-width: 576px) {
  .section {
    padding: var(--sp-s);
  }

  .btn__slider--left {
    left: -10%;
  }

  .btn__slider--right {
    right: -10%;
  }
}

@media (max-width: 768px) {

  /* Features */
  .features__feature {
    grid-template-columns: 1fr;
    text-align: center;
    gap: var(--sp-xs);
    border-bottom: 1px solid var(--grey-color);
    padding-bottom: var(--sp-xl);
    justify-items: center;
  }

  .section h2 {
    text-align: center;
  }

  /* Operations */
  .operations__tab--active {
    font-size: var(--text-description);
  }

  .operations__tab {
    font-size: var(--text-description);
    padding: var(--sp-xs) var(--sp-s);
  }

  .operations__tabs {
    gap: var(--sp-xs);
  }

  .operations__content {
    display: none;
  }

  .operations__content img {
    width: 60px;
    height: 60px;
    margin-bottom: var(--sp-m);
  }

  .operations__content--active {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
  }

  .slider {
    margin: var(--sp-l);
  }

  .icon--quote {
    width: 40px;
  }

  .testimonial {
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    justify-items: center;
  }

  .testimonial__photo {
    width: 30%;
    margin-bottom: var(--sp-m);
    margin-right: var(--sp-none);
  }

  .newsletter__form {
    flex-direction: column;
  }

  .newsletter .form--input {
    width: 100%;
    margin-right: var(--sp-none);
    margin-bottom: var(--sp-s);
  }

  .newsletter__form button {
    width: 100%;
  }
}